@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu.timer {
    padding: 10px;
    text-align: center;
    display: block;
    width: 400px;
    background-color: transparent;
    font-weight: bold;
    font-size: 3rem;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

.circle {
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.square, .triangleUp, .triangleDown, .squareRadius {
    position: absolute;
}

.clicker-warning {
    width: max-content;
    color: black;
    background: red;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: impact;
}

.clicker-button {
    display: block;
    margin: auto;
    font-size: 16px;
    margin-top: 10px;
    font-family: impact;
    padding: 3px;
    cursor: pointer;
    letter-spacing: 1px;
}
  background: #343434;
}

.mainFormTimer {
  text-align: center;
  background-color: blue;
  letter-spacing: 2px;
  padding: 1px 5px 1px 5px;
  margin: 0 480px 0 480px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
}

.hiddenForm {
  visibility: hidden;
}

.textTimer {
  color: aqua;
}

.countDownTimer {
  font-size: 40px;
  color: darkgray;
}
